nav {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: unset;
    width: 100%;
}

@media (min-width: 1024px) {
    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}