.App {
  background-color: var(--pretty-darn-white);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-width: 375px;
  width: 100%;
  height: 100%;
}

div.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

div.top-container {
  background: #FFF;
}

div.mid-container {
  background-color: var(--light-gray);
}

main.app-main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

footer.app-footer {
  background: var(--nearly-black);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding-block: 7.2rem;
}