section.get-started {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    width: 87.2vw;
    max-width: 1110px;
    margin-block-start: 6rem;
    margin-block-end: 10rem;
    row-gap: 3.7rem;
}

figcaption.text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0;
    max-width: 37.5rem;
    flex-direction: column;
    row-gap: 3.2rem;
}

figcaption.text > div.text-container {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}

figcaption.text h1 {
    font-size: 42px;
    line-height: 48px;
    letter-spacing: -1.05px;
    font-style: normal;
    font-weight: 700;
    color: var(--very-dark-blue);
    margin: 0;
}

figcaption.text p {    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.122727px;
    font-style: normal;
    font-weight: 500;
    color: var(--grayish-violet);
}

figcaption.text button {
    width: fit-content;
    background: var(--cyan);
    border-radius: 28px;
    border: none;
    padding: 10px 30px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: var(--pretty-darn-white);
}

figure.image {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    right: -5rem;
}

figure.image img {
    position: relative;
    width: 51.1rem;
}

@media (min-width: 1024px) {
    section.get-started {
        flex-direction: row;
    }

    figcaption.text {
        display: flex;
        flex-direction: column;
        width: max-content;
        text-align: left;
        padding: 0;
        margin: 0;
        max-width: 58.5rem;
        row-gap: 3.8rem;
    }

    figcaption.text h1 {
        font-size: 80px;
        line-height: 90px;
        letter-spacing: -2px;
    }

    figcaption.text p {
        font-size: 22px;
        line-height: 36px;
        letter-spacing: 0.15px;
        width: 90%;
        margin-top: 0;
    }

    figcaption.text button {
        max-width: fit-content;
    }

    figure.image {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        position: relative;
        right: -25rem;
        width: 40%;
    }

    figure.image img {
        width: 73.3rem;
    }

}