section.get-started {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

section.get-started figure {
    margin-top: 50px;
}

figure.text {
    width: 90%;
    /* width: 60%; */
    text-align: center;
    padding: 0;
    margin: 0;
}

figure.text h1 {
    font-size: 42px;
    line-height: 48px;
    /* text-align: center; */
    letter-spacing: -1.05px;
    font-style: normal;
    font-weight: 700;
    color: var(--very-dark-blue);
    margin: 0;
}

figure.text p {    font-size: 18px;
    line-height: 30px;
    /* text-align: center; */
    letter-spacing: 0.122727px;
    font-style: normal;
    font-weight: 500;
    color: var(--grayish-violet);
}

figure.text button {
    background: var(--cyan);
    border-radius: 28px;
    border: none;
    padding: 10px 30px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: var(--pretty-darn-white);
}

figure.image {
    width: 90%;
    margin-left: auto;
    /* overflow: hidden; */
}

figure.image img {
    /* width: 327px; */
    height: 300px;
    
}

@media (min-width: 1024px) {
    section.get-started {
        /* width: 80%; */
        flex-direction: row;
    }

    figure.text {
        width: max-content;
        text-align: left;
        padding: 0;
        margin: 0;
    }

    figure.text h1 {
        font-size: 80px;
        line-height: 90px;
        letter-spacing: -2px;
    }

    figure.text p {
        font-size: 22px;
        line-height: 36px;
        letter-spacing: 0.15px;
        width: 90%;
        margin-top: 0;
    }

    figure.image {
        width: 40%;
        /* margin-right: auto; */
        /* overflow: visible; */
        /* z-index: 100; */
        margin-left: auto;
        /* overflow: hidden; */
        /* margin-right: -5%; */
    }

}

@media (max-width: 1023px) {
    /* 
    section.get-started {
        
        width: 100%;
    }

    section.get-started figure {
        margin-top: 50px;
    }

    figure.image {
        width: 90%;
        margin-right: auto;
        overflow: hidden;
    }

    figure.image img {
        width: 327px;
        height: 300px;
        
    }

    figure.text {
        width: 90%;
        text-align: center;
    }

    figure.text h1 {
        font-size: 42px;
        line-height: 48px;
        text-align: center;
        letter-spacing: -1.05px;
    }

    figure.text p {
        font-size: 18px;
        line-height: 30px;
        text-align: center;
        letter-spacing: 0.122727px;
    } 
    */
}