@media (min-width: 1024px) {
    div.mobile-icon-wrapper i {
        display: none;
    }
}

@media (max-width: 1023px) {
    div.mobile-icon-wrapper i {
        display: inline-block;
        color: var(--dark-gray);
        font-size: 27px;
    }
}

