#nav-menu li.sign-up {
    background: var(--cyan);
    border-radius: 28px;
    color: var(--pretty-darn-white);
    padding: 10px;
}

#nav-menu li.sign-up:hover {
    cursor: pointer;
    background: var(--light-cyan);
}

@media (min-width: 1024px) {

    #nav-menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-grow: 1;
    }
    
    #nav-menu li {
        list-style-type: none;
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 22px;
        color: var(--grayish-violet);
        width: 100px;
    }

    #nav-menu li:hover {
        cursor: pointer;
        color: var(--very-dark-blue);
    }

    #nav-menu li.sign-up:hover {
        color: var(--pretty-darn-white);
    }

    #login {
        margin-left: auto;
    }
}
  
@media (max-width: 1023px) {

    #nav-menu {
        background-color: var(--dark-violet);
        position: absolute;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        min-width: 100%;
        top: 75px;
        border-radius: 10px;
        padding: 30px;
        transition: .5s; 
        min-height: 335px;
    }

    #nav-menu.show {
        display: flex;
    }

    #nav-menu.hide {
        display: none;
    }

    #nav-menu li {
        list-style-type: none;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 27px;
        min-width: 100%;
        padding: 15px;
        color: #FFFFFF;
    }

    #resources-link {
        padding-bottom: 30px;
        border-bottom: .5px solid var(--dark-gray);
    }

    #login-link {
        padding-top: 30px;
        border-top: .5px solid var(--dark-gray);
    }
}