section.shorten-url-container {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    transform: translateY(-90px);
}

section.shorten-form-elements {
    width: 85%;
    padding: 25px 50px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

form.shorten-form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

form.shorten-form input:placeholder-shown, form.shorten-form > input:required:invalid {
    border: 2px solid red;
}

section.shorten-resp-container {
    width: 85%;
    margin: 24px 0;
}

@media (min-width: 1024px) {

    section.shorten-form-elements {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 85%;
        height: 168px;
        background: url('../images/bg-shorten-desktop.svg') var(--dark-violet);
        background-size: cover;
        padding: 25px 50px;
    }

    form.shorten-form input.url-text {
        width: 70%;
        height: 64px;
        border-radius: 10px;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 36px;
        /* identical to box height, or 180% */
        letter-spacing: 0.15px;
        mix-blend-mode: normal;
        padding: 0 25px;
    }

    form.shorten-form input {
        border: none;
    }

    form.shorten-form input.submit-btn {
        background-color: var(--cyan);
        border-radius: 10px;
        width: 25%;
        height: 64px;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
        /* identical to box height */
        color: var(--pretty-darn-white)
    }
}

@media (max-width: 1023px) {

    section.shorten-form-elements {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        width: 85%;
        height: 160px;
        background: url('../images/bg-shorten-mobile.svg') var(--dark-violet);
        background-size: cover;
        padding: 25px;
    }

    form.shorten-form {
        flex-direction: column;
    }

    form.shorten-form input {
        height: 48px;
        border: none;
        border-radius: 5px;
        width: 100%;
    }

    form.shorten-form input.url-text {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 36px;
        /* identical to box height, or 180% */
        letter-spacing: 0.15px;
        mix-blend-mode: normal;
        padding: 0 25px;
        margin-bottom: 10px;
    }


    form.shorten-form input.submit-btn {
        background-color: var(--cyan);
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 27px;
        /* identical to box height */
        color: var(--pretty-darn-white);
        margin-top: 10px;
    }
}