div.shorten-url-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    transform: translateY(-90px);
    margin-bottom: -90px;
}

div.shorten-form-elements {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 50px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 10px;
}

form.shorten-form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

form.shorten-form input.url-text {
    font-style: normal;
    font-weight: 500;
    mix-blend-mode: normal;
    padding: 0 25px;
}

form.shorten-form input {
    border: none;
}

form.shorten-form input.submit-btn {
    background-color: var(--cyan);
    font-style: normal;
    font-weight: 700;
    color: var(--pretty-darn-white)
}

form.shorten-form > input:placeholder-shown, form.shorten-form > input:required:invalid {
    border: 2px solid var(--error-red);
    color: var(--error-red);
}

form.shorten-form > input:required:valid::before {
    /* border: 2px solid var(--valid-green);
    color: var(--valid-green); */
}

div.shorten-resp-container {
    margin: 24px 0;
}

div.error-message {
    /* border: 1px solid darkred; */
    /* background: rgba(255, 0, 0, .1); */
    /* padding: 10px; */
    /* color: darkred; */
    /* font-size: 12px; */
    /* min-height: 40px; */
    text-align: left;
}

span.error-message {
    font-style: italic;
    font-weight: 500;
    color: var(--error-red);
    padding: 10px;
}

.break {
    flex-basis: 100%;
    height: 0;
}

@media (min-width: 1024px) {

    div.shorten-form-elements {
        justify-content: space-around;
        height: 168px;
        background: url('../images/bg-shorten-desktop.svg') var(--dark-violet);
        background-size: cover;
        width: 80%;
    }

    form.shorten-form input.url-text {
        width: 70%;
        font-size: 20px;
        line-height: 36px;
        letter-spacing: 0.15px;
        mix-blend-mode: normal;
        padding: 0 25px;
    }

    form.shorten-form input {
        border-radius: 10px;
        height: 64px;
    }

    form.shorten-form input.submit-btn {
        width: 25%;
        font-size: 20px;
        line-height: 30px;
    }

    div.shorten-resp-container {
        width: 80%;
    }

    div.error-message {
        /* border: 1px solid darkred; */
        /* background: rgba(255, 0, 0, .1); */
        /* padding: 10px; */
        /* color: darkred; */
        /* font-size: 12px; */
        width: 99%;
        /* min-height: 40px; */
        text-align: left;
        flex-grow: 1;
    }
    
    span.error-message {
        font-size: 16px;
        line-height: 18px;
        letter-spacing: 0.109091px;
    }
}

@media (max-width: 1023px) {

    div.shorten-form-elements {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        min-height: 160px;
        background: url('../images/bg-shorten-mobile.svg') var(--dark-violet);
        background-size: cover;
        padding: 25px;
        width: 90%;
    }

    form.shorten-form {
        flex-direction: column;
    }

    form.shorten-form input {
        height: 48px;
        border-radius: 5px;
        width: 100%;
    }

    form.shorten-form input.url-text {
        font-size: 16px;
        line-height: 36px;
        letter-spacing: 0.15px;
        mix-blend-mode: normal;
        padding: 0 25px;
        margin-bottom: 10px;
        order: 1;
    }


    form.shorten-form input.submit-btn {
        font-size: 18px;
        line-height: 27px;
        margin-top: 10px;
        order: 3;
    }

    div.shorten-resp-container {
        width: 90%;
    }

    div.error-message {
        order: 2;
        width: 100%;
    }

    span.error-message {
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0.0818182px;
        text-align: left;
        margin-right: auto;
    }
}