#brand-recognition header div.icon {
    background: url('../images/icon-brand-recognition.svg') var(--dark-violet) center no-repeat;
}

#detailed-records header div.icon {
    background: url('../images/icon-detailed-records.svg') var(--dark-violet) center no-repeat;
}

#fully-customizable header div.icon {
    background: url('../images/icon-fully-customizable.svg') var(--dark-violet) center no-repeat;
}

div.statistics {
    margin-block: 50px;
}

div.article header h2 {
    font-size: 22px;
    line-height: 33px;
}

div.article div.text p {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 26px;
    color: var(--grayish-violet);
}

@media (min-width: 1024px) {
    div.statistics {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    div.statistics header {
        width: 540px;
    }
    
    div.statistics header h1 {
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 48px;
        /* identical to box height, or 120% */
    
        text-align: center;
        letter-spacing: -1px;
    
        color: var(--very-dark-blue)
    }
    
    div.statistics header p {
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 32px;
        /* or 178% */
    
        text-align: center;
        letter-spacing: 0.122727px;
    
        color: #9E9AA8;
    }
    
    div.articles {
        background: url('../images/cyan-line.svg') center no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 400px;
        margin-top: 50px;
    }
    
    div.article {
        height: 267px;
        width: 350px;
        background: var(--pretty-darn-white);
        border-radius: 5px;
        text-align: left;
        margin: 15px;
    }
    
    div.articles > div:nth-child(1) {
        align-self: flex-start;
    }
    
    div.articles > div:nth-child(3) {
        align-self: flex-end;
    }
    
    div.articles > div:nth-child(2) {
        align-self: center;
    }
    
    div.article header div.icon {
        background-color: var(--dark-violet);
        border-radius: 50%;
        height: 88px;
        width: 88px;
        margin: 0 15px -25px 15px;
        transform: translateY(-50px);
    }
    
    div.article header h2 {
        margin: 15px;
    }
    
    div.article div.text {
        margin: 15px;
    }
}

@media (max-width: 1023px) {

    div.statistics {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90%;
        margin-block: 50px;
    }
    
    div.statistics header {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }
    
    div.statistics header h1 {
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 48px;
        /* identical to box height, or 171% */
        
        text-align: center;
        letter-spacing: -0.7px;
        margin: 0%;
    
        color: var(--very-dark-blue)
    }
    
    div.statistics header p {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 28px;
        /* or 175% */
        
        text-align: center;
        letter-spacing: 0.109091px;
    
        color: #9E9AA8;
    }
    
    div.articles {
        background: url('../images/vertical-cyan-line.svg') center no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-bottom: 0;
    }
    
    div.article {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 325px;
        background: var(--pretty-darn-white);
        border-radius: 5px;
        /* text-align: center; */
        margin: 50px 15px 50px 15px;
    }
    
    div.article header div.icon {
        background-color: var(--dark-violet);
        border-radius: 50%;
        height: 88px;
        width: 88px;
        margin: 0 15px -25px 15px;
        transform: translateY(-50px);
        align-self: center;
    }

    #fully-customizable {
        margin-bottom: 0;
    }
    
    div.article header h2 {
        margin: 15px;
    }
    
    div.article div.text {
        margin: 0 15px 15px 15px;
    }
}