div.shorten-result-container {
    border-radius: 5px;
    width: 87.2vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 16px 0;
    flex-direction: column;
    row-gap: 3.0rem;
    max-width: 1110px;
}

@media (min-width: 1024px) {

    div.shorten-result-container {
        row-gap: 1.6rem;
    }
}